.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.35);
    width: 300px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.removeParag{
    font-size: 16px;
    font-weight: 400;
   width: 90%;
    text-align: center;
    color: gray
  
}

.removeBtnContainer{
    display: flex;
    gap: 20px;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cancelBtn, .confirmBtn{
    padding: 10px 20px;
    border-radius: 20px;
    height: 42px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color:gray;
}

@media (hover:hover) and (pointer: fine){
    

    .cancelBtn:hover, .confirmBtn:hover{
        background-color: gray;
        color: white;
    }
}


@media (max-width:500px) and (hover:none) and (pointer: coarse){

    .modal{
        
        gap: 20px;
        background-color: white;
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.35);
        width: 90%;
        max-width: 300px;
        border-radius: 20px;
       padding: 20px;
       box-sizing: border-box;
        height:fit-content;
    }

    .removeParag{
        font-size: clamp(14px, 4vw + 0.12rem, 18px);
        font-weight: 400;
       width: 90%;
        text-align: center;
        color: gray
      
    }

    .removeBtnContainer{
        display: flex;
        gap: 20px;
        width: 90%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .cancelBtn, .confirmBtn{
        padding: 10px 20px;
        border-radius: 20px;
        height: clamp(36px, 12.15vw + 0.12rem, 42px);
        font-size: clamp(14px, 4vw + 0.12rem, 18px);
      
    }

   
}
