.customCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
  }
  
  .customCheckbox input[type="checkbox"] {
    display: none;
  }
  .trashIcon{
    width: 20px;
    height: 20px;
    color: white;
    opacity: 1;
    transition: all 0.3s ease-in-out;

    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
  
  }

  @media (hover:none) and (pointer:fine) {
    .trashIcon:hover{
      transform: scale(1.2);
    }
  }

 
  
 /*  .customCheckbox .checkboxLabel::before {
    content: ' ';
    display: inline-block;
    width: 22px;
    height: 22px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.35);
    border-radius: 4px;
    margin-right: 8px;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .customCheckbox input[type="checkbox"]:checked + .checkboxLabel::before {
    background-color: #ba181b;
    border-color: #a4161a;
  } */

  @media (max-width: 500px) {
    .customCheckbox {
      top: 10px;
      right: 10px;
    }

   
 
  }

  @media (hover:none) and (pointer:coarse){
    .customCheckbox{
      top: 10px;
      right: 10px;
    }
    .trashIcon{
      width: 24px;
      height: 24px;
      border: 2px solid white;
      border-radius: 50%;
      padding: 5px;
    }
  }

  @media (min-width:1023px) and  (hover:none) and (pointer:coarse){
    .customCheckbox{
      top: 20px;
      right: 20px;
    }
    .trashIcon{
      width: 24px;
      height: 24px;
      border: 2px solid white;
      border-radius: 50%;
      padding: 5px;
    }
  }
  