.gallery{
    width: 100%;
    height: fit-content;
  display: grid;

   grid-auto-rows: 10px;

}



.loadMoreBtn{
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    font-size: 14px;
    width: fit-content;
    margin: 0 auto;;
    letter-spacing: 1px;
}

.fetchLoading, .fetchError{
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16px;
    margin: 50px auto;
    box-sizing: border-box;
    text-align: center;
}

.fetchLoading{
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

@media (hover:hover) and (pointer: fine){
    .loadMoreBtn:hover{
        background-color: rgba(255, 255, 255, 0.5);
    }
}
@media (max-width:500px) and (hover:none) and (pointer: coarse){
       

   
    .loadMoreBtn{
        font-size: clamp(12px, 3.58vw + 0.12rem, 14px);
        letter-spacing: 0;
        margin-bottom: 50px;
    }

    .fetchLoading, .fetchError{
     font-size: clamp(14px, 4vw + 0.12rem, 16px);
      
    }
   
}