.gallery{
    width: 100%;
    height: fit-content;
  display: grid;

   grid-auto-rows: 10px;

}



.loadMoreBtn{
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    font-size: 14px;
    width: fit-content;
    margin: 0 auto;;
    letter-spacing: 1px;
}

@media (hover:hover) and (pointer: fine){
    .loadMoreBtn:hover{
        background-color: rgba(255, 255, 255, 0.5);
    }
}
@media (max-width:500px) and (hover:none) and (pointer: coarse){
       

   
    .loadMoreBtn{
        font-size: clamp(12px, 3.58vw + 0.12rem, 14px);
        letter-spacing: 0;
        margin-bottom: 50px;
    }

   
}