

.addToExistingAlbumsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 50%;
    align-items: center;
}

.albumList{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 5px 0 ;
}


.title{
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: center;
    color: gray;

}

.parag{
    font-size: 16px;
    font-weight: 400;
   width: 90%;
    text-align: center;
    color: gray
  
}

.btn{
    padding: 10px 20px;
    color: grey;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
    height: 42px;
    cursor: pointer;
}


@media (hover:hover) and (pointer: fine){
    .closeIcon:hover{
        color: grey;
        cursor: pointer;
    }

    .btn:hover{
        background-color: gray;
        color: white;
  }
  
}

@media (max-width:500px){
   
}


@media (max-width:500px) and (hover:none) and (pointer: coarse){

    .title{
        font-size: clamp(16px, 4.72vw + 0.12rem, 18px);
    }
    
  

    .parag{
        font-size: clamp(14px, 4vw + 0.12rem, 18px);
        font-weight: 400;
       width: 90%;
        text-align: center;
        color: gray
      
    }
 
    .btn{
        height: clamp(36px, 12.15vw + 0.12rem, 42px);
        background-color: white;
        font-size: clamp(14px, 4vw + 0.12rem, 16px);
    
    }

   
}

@media (min-width:501px) and (hover:none) and (pointer:coarse){
  
}
